# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment-specific files
.env
.idea
/backend/.env
/backend/.idea

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore npm dependencies
node_modules/
/frontend/node_modules/

# Ignore template applications
my-react-app/
/frontend/my-react-app/

# Ignore build artifacts for React
/frontend/build/
/frontend/dist/

# Ignore Flask logs and database files
/backend/*.log
/backend/*.db

# Ignore Python virtual environment
/backend/venv/

# Ignore any local development files
.vscode/

#Ignore volume files
/MilvusDB/volumes/
/backend/MilvusDB/volumes/

#ignore package jsons in the root
package-lock.json
package.json

#Ignore alchemy
/instance/
/instance/database.db
/backend/instance/
/backend/instance/database.db
