.main-footer {
    color: white;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }

.footer{
  
  background: rgb(255 255 255 / 50%);
  height: 150px;
  text-align: center;
  
}

.linkedInLink{
  margin: 25px;
  transition: transform 0.3s ease;
}

.linkedInLink:hover{
  transform: translateY(-10px);
}

.instagramLink{
  margin: 25px;
  transition: transform 0.3s ease;
}

.instagramLink:hover{
  transform: translateY(-10px);
}

