.App-nav-default {
  height: 30px;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end; 
  align-items: right;
  z-index: 1000;
  background: none
}
.App-nav-features {
  height: 30px;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-end; 
  align-items: right;
  z-index: 1000;
  background: linear-gradient(rgba(5, 1, 20, 0.5), rgba(10, 8, 148, 0.5)), url("../assets/Features.png") center/cover ;
}

.App-nav-links {
    background-color: transparent;
    border-radius: 8px;
    list-style-type: none;
    display: flex;
    align-items: center;
    /* margin-left:auto */
}

.App-nav-links a, .App-sign-up, .Account{
    color: #ffffff; 
    text-decoration: none;
    margin: 0 1rem;
    transition: 0.3s;
}

.App-nav-links a:hover,
.App-sign-up:hover, 
.Account:hover {
    color: #bbebff;
    transition: 0.3s;
}

.App-sign-up, 
.Account{
    display:inline;
    border: none;
    padding: 0 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.logo-container{
  max-width: 150px;
  height: 40px;
  margin-right: 20px;
  margin-left: -20px;
  margin-top: -14px;
}
.header-image {
  min-width: 120px;
  height: 40%;
  width: 14%;
  text-align: right;
  margin-right: 2%;
  margin-top: 20px;
}