body {
    font-family: 'Courier New', Courier, monospace;
}

body, h1, h2, p, a, button {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.ProjectName{
    margin-top: 50px;
    color: #fefefe;
    font-size: 45px;
    font-weight: 200;
}

.welcome-message{
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* this make it stay center*/
    margin-top: 45px;
    color: #fefefe;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    animation: type 2s steps(40,end) forwards;
    
}

.App-nav {
    background: none;     
    margin: 20px;
    padding: 1rem;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.App-nav-links {
    background-color: transparent;
    border-radius: 8px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.App-nav-links a, .App-sign-up {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 0;
}

.App-nav-links a:hover,
.App-sign-up:hover {
    color: #bbebff; 
}

.App-sign-up {
    /*background: #0062ff; */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tab {
    font-size: 20px;
    display: inline-block;
    border: 6px solid #ccc;
    border-radius: 100px;
    background-color: #f9f9f9;
    padding: 18px;
    margin: 88px;
}

.tab-link {
    text-decoration: none;
    color: #006699;
}

.StartAnalysisButton{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;
    height: 86px;
    padding: 1em 2em;
    letter-spacing: 2px;
    line-height: 20px;
    border: 0;
    border-radius: 5px;
    position: relative;
    font-size: 2em;
    font-weight: 200;
    color: #006699;
    cursor: pointer;
    transition: 0.01s .23s ease-out all;
    overflow: hidden;
    z-index: 2;

    &:before{
        content: "";
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        width: 55%;
        background: #202020;
        z-index: -1;
        transition: .3s ease-in all;
    }
    &:after{
        content: "";
        position: relative;
        left: -5%;
        top: 5%;
        height: 90%;
        width: 5%;
        background: blue;
        z-index: -1;
        transition: .4s .02s ease-in all;
    }
    &:hover{
        cursor: pointer;
        color: transparent;
        &:before {
            left: 100%;
            width: 25%;
        }
        &:after{
            left: 100%;
            width: 70%;
        }
		.icon-right.after:after {
			left: -145px;
			color: #006699;
			transition: .2s .2s ease all;
		}
		.icon-right.after:before {
			left: -220px;
    	    top: 18px;
			opacity: 0.2;
			color: #006699;
		}
    }
}

.icon-right {
	position: absolute;
	top: 15px;
	right: 20px;
	&:after {
		font-family: "FontAwesome";
		content: '\2192';
		font-size: 25px;
		display: inline-block;
		position: relative;
		top: 26px;
		transform: translate3D(0, -50%, 0);
        
	}
	&.after:after {
		left: -350px;
		color: #006699;
		transition: .15s .25s ease left, .5s .05s ease color;
	}
	&.after:before {
		content: '';
		position: absolute;
		left: -320px;
		top: 14px;
		opacity: 0;
		transition: .2s ease-in all;
	}
}

.tab:hover {
    transform: scale(1.1);
}

.tab:active {
    transform: scale(0.95);
}

.wave_container{
  z-index: -1;
}

.wave {
    position: relative;
    bottom: 0;
    left: 50%;
    width: 200%;
    height: 15vh;
    background: rgba(255, 255, 255, 0.25);
    z-index: 1;
    opacity: 0.5;
}

.wave:nth-of-type(1) {
    animation: wave 10s linear infinite;
}

.wave:nth-of-type(2) {
    animation: wave 12s linear infinite reverse;
    bottom: -10px;
}

.wave:nth-of-type(3) {
    animation: wave 14s linear infinite;
    bottom: -20px;
}

@keyframes wave {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-20px);
    }
}

.logo{
    width: 200px;
    margin-top: 50px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo.loaded{
    animation: fadeIn 1.5s ease-in-out;
}

/* https://codepen.io/ladyjellington/pen/qBBQBYy */
@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid darkblue;
  }
  100%{
    border-right: none;
  }
}

/*
@keyframes glitch {
  0% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(-2px, -2px);
  }
  10% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(4px, 2px);
  }
  20% {
    clip-path: inset(50% -6px 30% 0);
    transform: translate(-3px, 1px);
  }
  30% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(0px, 0px);
  }
  40% {
    clip-path: inset(40% -6px 43% 0);
    transform: translate(-1px, -1px);
  }
  50% {
    clip-path: inset(80% -6px 5% 0);
    transform: translate(1px, 1px);
  }
  60% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(2px, 2px);
  }
  70% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(-4px, -2px);
  }
  80% {
    clip-path: inset(40% -6px 43% 0);
    transform: translate(3px, -1px);
  }
  90% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(0px, 0px);
  }
  100% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0);
  }
}
*/

