.Heading{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.backButton {
  background: none;
  border: none;
  color: white;
  padding: 16px;
  cursor: pointer;
  font-size: large;
  margin: 20px;
  position: absolute;
  left: 10px
}

.backButton:hover{
  color: lightblue;
}

.submissionArea{
  margin: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.submissionArea .textbox {
  margin-left: 50px;
  margin: 20px;
  height: 18vw;
  width: 60vh;
}

.submissionArea .submitButton{
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  height: 35px;
  width: 85px;
  bottom: 0;
  left: 0;
}

.submissionArea .textContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.submissionArea .textContainer .feedBackBox{
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.languageDropdown{
  position: relative;
  display: inline-block;
  margin: 10px;
}

.languageDropdown button{

  background-color: white;
  align-items: center;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
}

.languageDropdown p {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.languageDropdown .languages{
  display: none;
  background-color: white;
  position: relative;
  line-height: 10px;
  min-width: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.submissionArea .submitButton:hover{
    background-color: rgb(42, 199, 199);
}

.languageDropdown:hover .languages{
  display: block;
}

.languageDropdown:hover button{
  background-color: rgb(42, 199, 199);
}

.languageDropdown .languages .Java:hover {
  background-color: rgb(227, 66, 66);
}

.languageDropdown .languages .Python:hover {
  background-color: yellow;
}

.languageDropdown .languages .C:hover {
  background-color: blue;
}