.Heading{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.userArea{
  margin: 20px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.inputTypeDropDown{
  color: white;
  margin-bottom: 20px;
}

.inputTypeDropDown select{
  width: 55%;
  padding: 8px;
  margin: 10px;
}

.submissionArea{
  width: calc(70% - 20px);
}

.dropDownContainer{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.textBoxContainer{
  display: flex;
  flex-direction: column;
  height:100%;
  width: calc(60vh - 150px);
}

.fileInputContainer{
  width: calc(60vh - 190px);
  height: 20vw;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 100px;
}

.fileDropZone{
  width: 100%;
  border: 2px dashed black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.fileDropZone:hover{
  color:#0F62FE;
  background-color: #FFF;
}


.fileDropZone p {
  margin: 85px;
}

.fileInputContainer .fileDropZone input{
  display: none;
}

.fileDropZone.drag-over{
  background-color: white;
}

.droppedFileContainer{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.droppedFileContainer ol{
  list-style: none;
  padding: 0;
}

.droppedFileContainer li{
  margin-bottom: 5px;
}

.submissionArea .textBoxContainer .textbox {
  border: 1px #0F62FE solid;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 20vw;
  width: 100%;
  resize: vertical;
}

.submissionArea .submitButton{
  margin-top: 20px;
  margin-left: 5%;
  color: #0F62FE;
  border-color: #0F62FE;
  border: 1px #0F62FE solid;
  height: 35px;
  width: 85px;
}


.inputTypeDropDown,
.useCaseDropDown, 
.aiDropDown, 
.inputLanguageDropDown, 
.outputLanguageDropDown{
  width: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
}


.inputTypeDropDown label
.useCaseDropDown label, 
.aiDropDown label, 
.inputLanguageDropDown label, 
.outputLanguageDropDown label{
  margin-bottom: 5px;
}


.inputTypeDropDown select,
.useCaseDropDown select, 
.aiDropDown select, 
.inputLanguageDropDown select,
.outputLanguageDropDown select
{
  width: 150px;
  padding: 8px;
  margin: 10px;
  margin-left: 60px
}


.inputTypeDropDown select:hover,
.useCaseDropDown select:hover, 
.aiDropDown select:hover, 
.inputLanguageDropDown select:hover,
.outputLanguageDropDown select:hover
{
  cursor: pointer;
}

.inputTypeDropDown select:focus,
.useCaseDropDown select:focus,
.aiDropDown select:focus,
.inputLanguageDropDown select:focus,
.outputLanguageDropDown select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(15, 98, 254, 0.7);
}

.feedBackArea {
  width: calc(66vh - 40px); 
  height: 25vw; 
  position: fixed; 
  right: 66px; 
  top: 265px; 
  margin-right: 150px;
  padding: 1rem; 
  overflow-y: auto; 
  background-color: none; 
  border-radius: 5px;
  z-index: 1000; 
}

.feedBackBox {
  font-family: 'Courier New', Courier, monospace; 
  font-size: 0.9em; 
  background: white; 
  border: 1px solid #0F62FE; 
  padding: 1em; 
  margin-top: 1em; 
  margin: 15px;
}

@media (max-width: 1410px){

  .feedBackArea {
    position: relative; 
    right: 0; 
    top: 0; 
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 150px;
    background-color: none; 
  }
  
  .textBoxContainer{
    margin-left: 45%;
    transform: translateX(-30%);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .submissionArea .textBoxContainer .textbox {
    border: 1px #0F62FE solid;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 20vw;
    width: 85%;
}

  .submissionArea .submitButton{
    margin-top: 20px;
    margin-left: 45%;
    color: #0F62FE;
    border-color: #0F62FE;
    border: 1px #0F62FE solid;
    height: 35px;
    width: 85px;
  }

    .feedBackArea {
    width: calc(66vh - 40px); 
    height: 25vw; 
    
    margin-right: 150px;
    margin-left: 200px;
    padding: 1rem; 
    overflow-y: auto; 
    background-color: none; 
    border-radius: 5px;
    z-index: 1000; 
  }
}

.submissionArea .submitButton:hover{
    color: white;
    background-color: #0F62FE;
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
 }
 
.with-sidebar {
  margin-left: 200px; /* Same as the sidebar width */
 }
 
 
.submission-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none; /* Replace with actual color */
  padding: 15px;
  margin: 7.5px;
  margin-top: 5px
}
 
.submission-header .submission-title {
  margin-left: 60px;
  color: #FFF; 
  font-weight: 200;
  align-items: center;
  justify-content: center;
 }
 
 
.header-image {
  height: 25px;
  width: 50px;
  margin-right: 9px;
 }
 
 /* https://codepen.io/jkantner/pen/VwbLajq
 */
 .loading{
  justify-content: space-around;
  display: flex;
  margin: 1.5em;
  width: 6em;
  height: 6em;
  position: relative; 
  margin-left: 250px;
  right: 5px; 
  bottom: 5px; 
}


 .loading .loading1,
 .loading .loading2,
 .loading .loading3{

  position: relative;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transform-origin: 50%, 100%;
  animation: bounce 1s linear infinite;
 }

 .loading .loading1{
  background: rgb(92, 183, 213);
 }

 .loading .loading2{
  background: white;
  animation-delay: 0.1s;
 }

 .loading .loading3{
  background: rgb(92, 183, 213);
  animation-delay: 0.2s;
 }

@keyframes bounce {
  from, to {
    transform: translateY(0) scale(1,1);
    animation-timing-function: ease-in;
  }
  45%{
    transform: translateY(5em) scale(1,1);
    animation-timing-function: linear;
  }
  50%{
    transform: translateY(5em) scale(1.5,0.5);
    animation-timing-function: linear;
  }
  55%{
    transform: translateY(5em) scale(1,1);
    animation-timing-function: ease-out;
  }
    
}
