
body{
  background: radial-gradient(circle at 85.4% 50.8%, rgb(14, 72, 222) 0%, rgb(3, 22, 65) 95%);


}.App {
  text-align: center;
}
.home {
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 200px;
} 
.logo{
  margin-top: 50px;
  font-weight: bold;
}



